body {
  font-family: "freight-sans-pro", sans-serif; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

h1 {
  font-weight: bold;
  font-size: 24pt;
  color: #020b11;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  text-align: center; }

h2 {
  font-weight: 500;
  font-size: 12pt;
  color: #454545;
  opacity: 0.8;
  letter-spacing: 0.05em; }

h3 {
  font-weight: 500;
  font-size: 2em;
  color: #454545;
  letter-spacing: 0.05em; }

p, .isolation input {
  font-size: 8pt;
  color: #888888; }

button {
  font-size: 8pt;
  font-weight: 700;
  color: #020b11;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  border: 1px solid #020b11;
  border-radius: 1.2px; }

.divider {
  width: 22.5px;
  height: 1px;
  background: #020b11;
  margin: 0 auto; }

:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  font-size: 8pt;
  color: #888888;
  padding-left: 10px; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  font-size: 8pt;
  color: #888888;
  padding-left: 10px; }

:-ms-input-placeholder {
  /* IE 10+ */
  font-style: italic;
  font-size: 8pt;
  color: #888888;
  padding-left: 10px; }

::-ms-input-placeholder {
  /* Edge */
  font-style: italic;
  font-size: 8pt;
  color: #888888;
  padding-left: 10px; }

:placeholder-shown {
  /* Standard one last! */
  font-style: italic;
  font-size: 8pt;
  color: #888888;
  padding-left: 10px; }

.survey .container {
  width: 90%;
  margin-bottom: 0; }
.survey #drag-container {
  background: black;
  width: 100%; }
.survey #drag-handle {
  width: 100%;
  height: 50px;
  z-index: 1000;
  cursor: move;
  align-self: center;
  border: 1px solid #aba9ab;
  padding: 10px;
  background: white; }
.survey #slider {
  background: none;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center; }
.survey .int_title {
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 40px; }
.survey .question {
  text-align: left;
  margin-top: 30px;
  margin-right: 15px; }
.survey .slider_label {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1em;
  position: relative; }
.survey .option1 {
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 2.5rem auto; }
.survey .option2 {
  margin: -4rem auto;
  position: absolute;
  text-align: center;
  width: 100%; }
.survey .drag_me {
  align-self: center;
  padding: 0 15px; }
.survey #summary {
  margin: 20px;
  text-align: center; }
.survey h4 {
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.3em; }
.survey footer {
  font-size: 8pt;
  color: #888888;
  text-transform: uppercase;
  font-weight: 500; }
  .survey footer .prev {
    text-align: left; }
  .survey footer .pagination {
    text-align: center; }
  .survey footer .next {
    text-align: right; }

@media (min-width: 350px) {
  .one-third.column {
    width: 30.6666666667%; }

  .column:first-child, .columns:first-child {
    margin-left: 0; }

  .column, .columns {
    margin-left: 4%; } }
.isolation .container {
  width: 800px; }
.isolation h1 {
  margin-top: 50px; }
.isolation h2 {
  margin: 35px auto 10px; }
.isolation input {
  width: 100%;
  height: 55px;
  border-radius: 1.2px;
  background: #e2e2e2;
  border: 1px solid #e2e2e2;
  padding-left: 10px;
  margin-bottom: 7.5px; }
  .isolation input #key {
    margin-bottom: 0; }
.isolation .color-choices {
  margin-bottom: 50px; }
  .isolation .color-choices h2 {
    margin-top: 15px; }
  .isolation .color-choices .color-sq {
    width: 65px;
    height: 65px;
    border-radius: 1.2px;
    display: inline-block;
    margin-right: 23px; }
  .isolation .color-choices #sq-option-1 {
    background: gray; }
  .isolation .color-choices #sq-option-2 {
    background: gray; }
  .isolation .color-choices #sq-option-3 {
    background: gray; }
  .isolation .color-choices #sq-option-4 {
    background: gray; }
  .isolation .color-choices #sq-option-5 {
    background: gray; }
  .isolation .color-choices #sq-option-6 {
    background: gray; }
  .isolation .color-choices #sq-option-7 {
    background: gray; }
  .isolation .color-choices #sq-option-8 {
    background: gray; }
  .isolation .color-choices #sq-option-9 {
    background: gray;
    margin-right: 0; }
.isolation .op-fields {
  margin-bottom: 15px;
  font-size: 8pt;
  color: #888888;
  font-style: italic; }
.isolation button {
  width: 475px;
  height: 55px; }
.isolation .submit-container {
  text-align: center; }
.isolation .divider {
  margin-top: 35px; }

/*# sourceMappingURL=style.css.map */
