#complete-page{
  background: -moz-linear-gradient(0deg, rgba(2,11,16,0) 0%, rgba(2,11,16,1) 20%, rgba(2,11,16,1) 42%, rgba(2,11,16,1) 57%, rgba(2,11,16,1) 80%, rgba(2,11,16,0) 100%), -moz-linear-gradient(0deg, rgba(38,197,196,1) 0%, rgba(36,82,109,1) 29%, rgba(36,79,106,1) 30%, rgba(36,79,106,1) 70%, rgba(38,197,196,1) 100%); /* ff3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(2,11,16,0)), color-stop(20%, rgba(2,11,16,1)), color-stop(42%, rgba(2,11,16,1)), color-stop(57%, rgba(2,11,16,1)), color-stop(80%, rgba(2,11,16,1)), color-stop(100%, rgba(2,11,16,0))), -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(38,197,196,1)), color-stop(29%, rgba(36,82,109,1)), color-stop(30%, rgba(36,79,106,1)), color-stop(70%, rgba(36,79,106,1)), color-stop(100%, rgba(38,197,196,1))); /* safari4+,chrome */

  background: -webkit-linear-gradient(0deg, rgba(2,11,16,0) 0%, rgba(2,11,16,1) 20%, rgba(2,11,16,1) 42%, rgba(2,11,16,1) 57%, rgba(2,11,16,1) 80%, rgba(2,11,16,0) 100%), -webkit-linear-gradient(0deg, rgba(38,197,196,1) 0%, rgba(36,82,109,1) 29%, rgba(36,79,106,1) 30%, rgba(36,79,106,1) 70%, rgba(38,197,196,1) 100%), -webkit-linear-gradient(0deg, rgba(2,11,16,0) 0%, rgba(2,11,16,1) 20%, rgba(2,11,16,1) 42%, rgba(2,11,16,1) 57%, rgba(2,11,16,1) 80%, rgba(2,11,16,0) 100%); /* safari5.1+,chrome10+ */

  background: -o-linear-gradient(0deg, rgba(2,11,16,0) 0%, rgba(2,11,16,1) 20%, rgba(2,11,16,1) 42%, rgba(2,11,16,1) 57%, rgba(2,11,16,1) 80%, rgba(2,11,16,0) 100%), -o-linear-gradient(0deg, rgba(38,197,196,1) 0%, rgba(36,82,109,1) 29%, rgba(36,79,106,1) 30%, rgba(36,79,106,1) 70%, rgba(38,197,196,1) 100%); /* opera 11.10+ */

  background: -ms-linear-gradient(0deg, rgba(2,11,16,0) 0%, rgba(2,11,16,1) 20%, rgba(2,11,16,1) 42%, rgba(2,11,16,1) 57%, rgba(2,11,16,1) 80%, rgba(2,11,16,0) 100%), -ms-linear-gradient(0deg, rgba(38,197,196,1) 0%, rgba(36,82,109,1) 29%, rgba(36,79,106,1) 30%, rgba(36,79,106,1) 70%, rgba(38,197,196,1) 100%); /* ie10+ */

  background: linear-gradient(90deg, rgba(2,11,16,0) 0%, rgba(2,11,16,1) 20%, rgba(2,11,16,1) 42%, rgba(2,11,16,1) 57%, rgba(2,11,16,1) 80%, rgba(2,11,16,0) 100%), linear-gradient(90deg, rgba(38,197,196,1) 0%, rgba(36,82,109,1) 29%, rgba(36,79,106,1) 30%, rgba(36,79,106,1) 70%, rgba(38,197,196,1) 100%); /* w3c */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=‘#020b10 ’, endColorstr=‘#020b10 ’,GradientType=1 ), progid:DXImageTransform.Microsoft.gradient( startColorstr=‘#26c5c4 ’, endColorstr=‘#26c5c4 ’,GradientType=1 ); /* ie6-9 */
}

.complete {
  .container {
    width: 50%;
    text-align: center;
  }
  h1 {
    margin: 100px auto 230px;
  }
  h2 {
    font-weight: 500;
    font-size: 2.7em;
    color: $white;
    opacity: 1.0;
    letter-spacing: 0.025em;
    margin: 60px auto 0;
    text-align: center;
  }
  h3 {
    font-weight: 500;
    font-size: 2em;
    color: $white;
    opacity: 0.8;
    letter-spacing: 0.025em;
    margin: 30px auto 0;
    text-align: center;
    line-height: 1.5em;
  }

  button {
    width: 30%;
    height: 55px;
    border: 0;
    &:hover{
      background: none;
      border: 0;
      color: $light-gray;
    }
  }

  .newisolation-container {
    text-align: center;
    margin-top: 410px;
  }
}