$main-font-family: "freight-sans-pro", sans-serif;

// Color scheme
$white: #f7f6f6;
$black: #020b11;
$dark-gray: #343034;
$light-gray: #787478;

body {
  font-family: $main-font-family;
  background: $black;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-weight: bold;
  font-size: 4em;
  color: $white;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 2em;
  color: $white;
  opacity: 0.8;
  //letter-spacing: 0.005em;
}

h3 {
  font-weight: 500;
  font-size: 2em;
  letter-spacing: 0.05em;
}

p {
  font-size: 1.1em;
  color: $white;
}

a {
  color: inherit;
}

button{
  font-size: 1em;
  font-weight: 700;
  color: $white;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  border: 2px solid $white;
  border-radius: 2px;
  &:hover{
    background: $white;
    border-color: $white;
    color: $black;
  }
  .inactive{
    background: $dark-gray;
    border-color: $dark-gray;
    color: $light-gray;
  }
}

.divider{
  width: 45px;
  height: 1.5px;
  background: $dark-gray;
  margin: 0 auto;
}

.icon {
  width: 16px;
  height: 16px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 0;
}

.icon-text{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.icon-wrapper{
  text-align: center;
  display: table;
}

#survey-page, #thankyou-page, #begin-page {
  max-width: 534px;
  margin: 0 auto;
  color: $white;
}


.reveal {
  .container {
    text-align: center;
    margin: 250px auto;
  }
  button{
    width: 80%;
    height: 170px;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
  }
  #my_artpiece{
    width: 100%;
    margin: 0 auto;
  }
}







// I KNOW THIS IS UGLY BUT PLACEHOLDER STYLING WON'T WORK IF IT'S NOT REPEATED THIS WAY
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize;
}

::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize;
}

:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize;
}

::-ms-input-placeholder { /* Edge */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize;
}

:placeholder-shown { /* Standard one last! */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize;
}

#key:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize;
}

#key::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize !important;
  letter-spacing: 0 !important;
}

#key:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize !important;
  letter-spacing: 0 !important;
}

#key::-ms-input-placeholder { /* Edge */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize !important;
  letter-spacing: 0 !important;
}

#key:placeholder-shown { /* Standard one last! */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize !important;
  letter-spacing: 0 !important;
}

#partnerkey:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize;
}

#partnerkey::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize !important;
  letter-spacing: 0 !important;
}

#partnerkey:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize !important;
  letter-spacing: 0 !important;
}

#partnerkey::-ms-input-placeholder { /* Edge */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize !important;
  letter-spacing: 0 !important;
}

#partnerkey:placeholder-shown { /* Standard one last! */
  font-style: italic;
  font-size: 1em;
  color: $light-gray;
  padding-left: 20px;
  text-transform: capitalize !important;
  letter-spacing: 0 !important;
}