
.survey {
  // ---------------- CONTAINERS ----------------
  .container {
    width: 90%;
    margin-bottom: 0;
  }

  #header{
    //height: 26.6vh;
  }

  .three.columns {
    width: 22%;
  }

  .nine.columns {
    width: 74%;
  }

  .column:first-child, .columns:first-child {
    margin-left: 0;
  }
  .column, .columns {
    margin-left: 4%;
  }

  #drag-container {
    width: 100%;
  }

  .slider-label {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .user-info {
    margin: 10px auto 8px;
    text-align: center;
    display: table;
    p {
      font-weight: 600;
      opacity: 0.5;
    }
  }

  #userkey {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .progression-section {
    margin: 15px auto 13px;
    display: flex;
    align-items: center;
    p {
      margin-bottom: 0;
    }
  }

  // ---------------- END CONTAINERS ----------------

  // ---------------- SLIDER ----------------
  #drag-handle {
    width: 100%;
    height: 60px;
    z-index: 1000;
    cursor: move;
    align-self: center;
    padding: 10px 0;
    background: $black;
    box-shadow: 0 0 rbga(0, 0, 0, 0.5);
    display: table;
    p {
      font-size: 1em;
      margin-bottom: 0;
      display: table-cell;
      vertical-align: middle;
    }
  }

  #slider {
    background: -moz-linear-gradient(90deg, rgba(18, 47, 61, 1) 0%, rgba(17, 103, 103, 1) 40%, rgba(17, 103, 103, 1) 60%, rgba(18, 47, 61, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(18, 47, 61, 1)), color-stop(40%, rgba(17, 103, 103, 1)), color-stop(60%, rgba(17, 103, 103, 1)), color-stop(100%, rgba(18, 47, 61, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(18, 47, 61, 1) 0%, rgba(17, 103, 103, 1) 40%, rgba(17, 103, 103, 1) 60%, rgba(18, 47, 61, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(18, 47, 61, 1) 0%, rgba(17, 103, 103, 1) 40%, rgba(17, 103, 103, 1) 60%, rgba(18, 47, 61, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(18, 47, 61, 1) 0%, rgba(17, 103, 103, 1) 40%, rgba(17, 103, 103, 1) 60%, rgba(18, 47, 61, 1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(18, 47, 61, 1) 0%, rgba(17, 103, 103, 1) 40%, rgba(17, 103, 103, 1) 60%, rgba(18, 47, 61, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=‘ #122f3d ’, endColorstr=‘ #122f3d ’, GradientType=0); /* ie6-9 */
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  // ---------------- END SLIDER ----------------

  // ---------------- TEXT ----------------
  .question {
    font-weight: 400;
    text-align: left;
    font-size: 2.2em;
    line-height: 32pt;
    letter-spacing: 0.025em;
    text-transform: none;
    color: $white;
    margin-bottom:0;
  }

  p {
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.23em;
    opacity: 0.5;
    text-transform: uppercase;
    color: $white;
  }

  .option1 {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 12.5rem auto;
  }

  .option2 {
    margin: -12.5rem auto;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .next {
    color: $white;
    font-size: 18px;
    :hover {
      opacity: 1;
      color: $white;
    }
  }
  // ---------------- END TYPE ----------------

  // ---------------- OTHER ----------------
  .progress {
    background: $dark-gray;
    .progress-bar {
      background: $white;
      height: 5px;
    }
  }

  #user {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    img {
      margin-right: 13px;
      opacity: 0.5;
      padding-top: 7px;
    }
  }
  #right-arrow {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    img {
      margin-left: 13px;
      opacity: 0.5;
    }
  }
  #up-arrow {
    position: absolute;
    text-align: center;
    margin: 8.5rem auto 2.5em;
    display: block;
    left: 0;
    right: 0;
  }
  #down-arrow {
    position: absolute;
    text-align: center;
    margin: -8.5rem auto 0;
    display: block;
    left: 0;
    right: 0;
  }

  #next-text {
    opacity: 0.5;
    text-align: center;
    display: table;
  }

  // ---------------- END OTHER ----------------

}

// ---------------- END SURVEY CLASS ----------------

// ---------------- Small mobile ----------------
@media (max-width: 320px) {
  .survey {
    .question {
      font-size: 1.8em;
    }
    #slider {
      height: 350px;
    }
    #drag-handle{
      p {
        font-size: 0.85em;
      }
    }
    p {
      font-size: 0.85em;
    }
    #up-arrow {
      margin: 8rem auto 2em;
    }
    #down-arrow {
      margin: -8rem auto 0;
    }
    .option1 {
      margin: 10.5rem auto;
    }

    .option2 {
      margin: -10.5rem auto;
    }
  }
}