.thankyou{

  @media (min-width: 550px) {
    .container {
      width: 73%;
    }
}

  .int-title{
    font-size: 1em;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    opacity: 0.75;
    font-weight: 700;
    letter-spacing: 0.23em;
    margin: 20px auto 100px;
  }

  .thanks-header{
    font-weight: 500;
    text-align: left;
    font-size: 2.2em;
    letter-spacing: 0.025em;
    text-transform: none;
    color: $white;
    margin-bottom: 30px;
  }

  .subheader{
    font-weight: 400;
    text-align: left;
    font-size: 1.25em;
    text-transform: none;
    color: $white;
    opacity: 0.75;
    margin-bottom: 50px;
  }

  .user-code{
    font-size: 0.8em;
    text-transform: uppercase;
    color: $white;
    font-weight: 700;
    letter-spacing: 0.23em;
    margin-bottom: 30px;
  }

  .userkey{
    margin-bottom: 115px;
  }

  .key-box{
    width: 14%;
    height: 110px;
    border-radius: 2px;
    background: $dark-gray;
    margin-right: 1.8%;
    display: inline-block;
    text-align: center;
    vertical-align:middle;
    &:last-child{
      margin-right: 0;
    }
    h1 {
      font-weight: 500;
      color: $white;
      text-align: center;
      font-size: 2.5em;
      text-transform: uppercase;
      vertical-align: middle;
      display: inline-block;
      line-height: 110px;
      margin-bottom: 0;
      width: 100%;
    }
  }

  .createNewUser-btn{
    text-align: center;
    height: 100px;
    width: 100%;
  }
}