<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Interruptions</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://use.typekit.net/zst6xie.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        }
        catch (e) {
        }
    </script>
    <!-- JavaScript
       –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/skeleton.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
</head>

<body>
<div class="container isolation">
    <h1>Interruptions</h1>
    <form class="form-createUser" role="form" action="thankyou.php" method="post">
        <h2>Please enter the user code you received after completing the survey:</h2>
        <input type="text" name="key" id="key" placeholder="User Code" required autofocus>
        <div class="divider"></div>
        <h2>Please enter the following information:</h2>
        <div class="row">
            <div class="two-thirds column">
                <input type="text" name="name" placeholder="First Name" required></div>
            <div class="one-third column">
                <input type="number" name="age" placeholder="Age" required></div>
        </div>
        <input type="email" name="email" placeholder="Email Address (Optional)">
        <div class="color-choices">
            <h2>Favorite Color</h2>
            <div class="color-sq" id="sq-option-1"></div>
            <div class="color-sq" id="sq-option-2"></div>
            <div class="color-sq" id="sq-option-3"></div>
            <div class="color-sq" id="sq-option-4"></div>
            <div class="color-sq" id="sq-option-5"></div>
            <div class="color-sq" id="sq-option-6"></div>
            <div class="color-sq" id="sq-option-7"></div>
            <div class="color-sq" id="sq-option-8"></div>
            <div class="color-sq" id="sq-option-9"></div>
        </div>
        <div class="submit-container">
            <button class="" type="submit" name="createUser">Submit</button>
            <!--<span><img src="assets/images/next_arrow.png" alt="Next Arrow"></span>-->
        </div>
    </form>
</div>
</body>

</html>