<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Interruptions | Survey</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://use.typekit.net/zst6xie.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        }
        catch (e) {
        }
    </script>
    <!-- JavaScript
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/skeleton.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

</head>

<body id="survey-page">
<div class="survey">

    <div class="container">
        <div class="user-info">
                <span class="icon" id="user"><img src="assets/images/account.png" alt="User Icon"/></span>
                <p id="userkey"> {{ userKey|e }}</p>
        </div>

        <h1 class="question">{{ questionData[0] }}</h1>

        <div class="progression-section row">
            <div class="nine columns">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{ percentProgress }}%">
                    </div>
                </div>
            </div>
            <div class="three columns next">
                <p id="next-text"><a id="next-btn" onclick="nextButton()">Next</a><span class="icon"><img src="assets/images/next_arrow.png" alt="Right Arrow" id="right-arrow"/></span></p>
            </div>
        </div>
    </div>

    <div id="drag-container">
        <div class="slider-label">
            <img src="assets/images/up_arrow.png" alt="Up Arrow" id="up-arrow"/>
            <p class="option1">{{ questionData[1][0] }}</p>
        </div>
        <div id="slider">
            <div id="drag-handle">
                <p><span id="final_result">Drag to answer</span></p></div>
        </div>
        <div class="slider-label">
            <img src="assets/images/down_arrow.png" alt="Up Arrow"id="down-arrow"/>
            <p class="option2">{{ questionData[1][1] }}</p>
        </div>
    </div>

</div>

<div id="dom-target" style="display: none;">
    <span id="op0">{{ questionData[1][0] }}</span>
    <span id="op1">{{ questionData[1][1] }}</span>
</div>


<script type="text/javascript" src="assets/js/survey_main.js"></script>
</body>

</html>