@charset "UTF-8";
body {
  font-family: "freight-sans-pro", sans-serif;
  background: #020b11; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

h1 {
  font-weight: bold;
  font-size: 4em;
  color: #f7f6f6;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  text-align: center; }

h2 {
  font-weight: 500;
  font-size: 2em;
  color: #f7f6f6;
  opacity: 0.8; }

h3 {
  font-weight: 500;
  font-size: 2em;
  letter-spacing: 0.05em; }

p, .isolation input {
  font-size: 1.1em;
  color: #f7f6f6; }

a {
  color: inherit; }

button {
  font-size: 1em;
  font-weight: 700;
  color: #f7f6f6;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  border: 2px solid #f7f6f6;
  border-radius: 2px; }
  button:hover {
    background: #f7f6f6;
    border-color: #f7f6f6;
    color: #020b11; }
  button .inactive {
    background: #343034;
    border-color: #343034;
    color: #787478; }

.divider {
  width: 45px;
  height: 1.5px;
  background: #343034;
  margin: 0 auto; }

.icon {
  width: 16px;
  height: 16px;
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

#survey-page, #thankyou-page {
  max-width: 736px;
  margin: 0 auto;
  color: #f7f6f6; }

:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  font-size: 1em;
  color: #787478;
  padding-left: 20px;
  text-transform: capitalize; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  font-size: 1em;
  color: #787478;
  padding-left: 20px;
  text-transform: capitalize; }

:-ms-input-placeholder {
  /* IE 10+ */
  font-style: italic;
  font-size: 1em;
  color: #787478;
  padding-left: 20px;
  text-transform: capitalize; }

::-ms-input-placeholder {
  /* Edge */
  font-style: italic;
  font-size: 1em;
  color: #787478;
  padding-left: 20px;
  text-transform: capitalize; }

:placeholder-shown {
  /* Standard one last! */
  font-style: italic;
  font-size: 1em;
  color: #787478;
  padding-left: 20px;
  text-transform: capitalize; }

#key:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  font-size: 1em;
  color: #787478;
  padding-left: 20px;
  text-transform: capitalize; }

#key::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  font-size: 1em;
  color: #787478;
  padding-left: 20px;
  text-transform: capitalize !important;
  letter-spacing: 0 !important; }

#key:-ms-input-placeholder {
  /* IE 10+ */
  font-style: italic;
  font-size: 1em;
  color: #787478;
  padding-left: 20px;
  text-transform: capitalize !important;
  letter-spacing: 0 !important; }

#key::-ms-input-placeholder {
  /* Edge */
  font-style: italic;
  font-size: 1em;
  color: #787478;
  padding-left: 20px;
  text-transform: capitalize !important;
  letter-spacing: 0 !important; }

#key:placeholder-shown {
  /* Standard one last! */
  font-style: italic;
  font-size: 1em;
  color: #787478;
  padding-left: 20px;
  text-transform: capitalize !important;
  letter-spacing: 0 !important; }

.survey .container {
  width: 90%;
  margin-bottom: 0; }
.survey #drag-container {
  width: 100%; }
.survey .slider-label {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center; }
.survey .user-info {
  margin: 18px auto;
  text-align: center;
  display: table; }
  .survey .user-info p, .survey .user-info .isolation input, .isolation .survey .user-info input {
    font-weight: 600;
    opacity: 0.5; }
.survey #userkey {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
.survey .progression-section {
  margin: 20px auto 13px;
  display: flex;
  align-items: center; }
  .survey .progression-section p, .survey .progression-section .isolation input, .isolation .survey .progression-section input {
    margin-bottom: 0; }
.survey #drag-handle {
  width: 100%;
  height: 70px;
  z-index: 1000;
  cursor: move;
  align-self: center;
  padding: 10px 0;
  background: #020b11;
  display: table; }
  .survey #drag-handle p, .survey #drag-handle .isolation input, .isolation .survey #drag-handle input {
    font-size: 1.2em;
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle; }
.survey #slider {
  background: -moz-linear-gradient(90deg, #122f3d 0%, #116767 40%, #116767 60%, #122f3d 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #122f3d), color-stop(40%, #116767), color-stop(60%, #116767), color-stop(100%, #122f3d));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, #122f3d 0%, #116767 40%, #116767 60%, #122f3d 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, #122f3d 0%, #116767 40%, #116767 60%, #122f3d 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, #122f3d 0%, #116767 40%, #116767 60%, #122f3d 100%);
  /* ie10+ */
  background: linear-gradient(0deg, #122f3d 0%, #116767 40%, #116767 60%, #122f3d 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=‘ #122f3d ’, endColorstr=‘ #122f3d ’, GradientType=0);
  /* ie6-9 */
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center; }
.survey .question {
  font-weight: 400;
  text-align: left;
  font-size: 2.2em;
  line-height: 32pt;
  letter-spacing: 0.025em;
  text-transform: none;
  color: #f7f6f6; }
.survey p, .survey .isolation input, .isolation .survey input {
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  letter-spacing: 0.23em;
  opacity: 0.5;
  text-transform: uppercase;
  color: #f7f6f6; }
.survey .option1 {
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 12.5rem auto; }
.survey .option2 {
  margin: -12.5rem auto;
  position: absolute;
  text-align: center;
  width: 100%; }
.survey .next {
  opacity: 0.25; }
  .survey .next :hover {
    opacity: 1; }
.survey .progress {
  background: #343034; }
  .survey .progress .progress-bar {
    background: #f7f6f6;
    height: 5px; }
.survey #user {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
  .survey #user img {
    margin-right: 13px;
    opacity: 0.5;
    padding-top: 7px; }
.survey #right-arrow {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
  .survey #right-arrow img {
    margin-left: 13px;
    opacity: 0.5; }
.survey #up-arrow {
  position: absolute;
  text-align: center;
  margin: 8.5rem auto 2.5em;
  display: block;
  left: 0;
  right: 0; }
.survey #down-arrow {
  position: absolute;
  text-align: center;
  margin: -8.5rem auto 0;
  display: block;
  left: 0;
  right: 0; }
.survey #next-text {
  text-align: center;
  display: table; }

@media (min-width: 350px) {
  .three.columns {
    width: 22%; }

  .nine.columns {
    width: 74%; }

  .column:first-child, .columns:first-child {
    margin-left: 0; }

  .column, .columns {
    margin-left: 4%; } }
@media (min-width: 550px) {
  .thankyou .container {
    width: 73%; } }
.thankyou .int-title {
  font-size: 1em;
  text-transform: uppercase;
  color: #f7f6f6;
  text-align: center;
  opacity: 0.75;
  font-weight: 700;
  letter-spacing: 0.23em;
  margin: 20px auto 75px; }
.thankyou .thanks-header {
  font-weight: 500;
  text-align: left;
  font-size: 2.2em;
  letter-spacing: 0.025em;
  text-transform: none;
  color: #f7f6f6;
  margin-bottom: 15px; }
.thankyou .subheader {
  font-weight: 400;
  text-align: left;
  font-size: 1.25em;
  text-transform: none;
  color: #f7f6f6;
  opacity: 0.75;
  margin-bottom: 25px; }
.thankyou .user-code {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #f7f6f6;
  font-weight: 700;
  letter-spacing: 0.23em;
  margin-bottom: 15px; }
.thankyou .userkey {
  margin-bottom: 58px; }
.thankyou .key-box {
  width: 15%;
  height: 55px;
  border-radius: 2px;
  background: #343034;
  margin-right: 0.75%;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }
  .thankyou .key-box:last-child {
    margin-right: 0; }
  .thankyou .key-box h1 {
    font-weight: 500;
    color: #f7f6f6;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
    width: 100%; }
.thankyou .createNewUser-btn {
  text-align: center;
  height: 75px;
  width: 100%;
  margin-bottom: 20px; }

.isolation .container {
  width: 800px; }
.isolation h1 {
  margin-top: 100px; }
.isolation h2 {
  margin: 70px auto 20px; }
.isolation input {
  width: 100%;
  height: 55px;
  border-radius: 2px;
  background: #343034;
  border: 1px solid #343034;
  padding-left: 20px;
  margin-bottom: 15px; }
.isolation #key {
  margin-bottom: 0;
  height: 100px;
  font-size: 2em;
  padding-left: 30px;
  text-transform: uppercase;
  letter-spacing: .2em; }
.isolation .color-choices {
  margin-bottom: 100px; }
  .isolation .color-choices h2 {
    margin-top: 50px; }
  .isolation .color-choices .color-sq {
    width: 85px;
    height: 85px;
    border-radius: 1.2px;
    display: inline-block;
    margin-right: 20px; }
  .isolation .color-choices #sq-option-1 {
    background: #e9233e; }
  .isolation .color-choices #sq-option-2 {
    background: #f56237; }
  .isolation .color-choices #sq-option-3 {
    background: #f3c347; }
  .isolation .color-choices #sq-option-4 {
    background: #2bd234; }
  .isolation .color-choices #sq-option-5 {
    background: #26c5c4; }
  .isolation .color-choices #sq-option-6 {
    background: #244f6a; }
  .isolation .color-choices #sq-option-7 {
    background: #603662; }
  .isolation .color-choices #sq-option-8 {
    background: #d42988; }
  .isolation .color-choices #sq-option-9 {
    background: #f76c6e;
    margin-right: 0; }
.isolation #selectable {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .isolation #selectable .ui-selecting {
    -webkit-box-shadow: inset 0px 0px 0px 2px #f7f6f6;
    -moz-box-shadow: inset 0px 0px 0px 2px #f7f6f6;
    box-shadow: inset 0px 0px 0px 2px #f7f6f6; }
  .isolation #selectable .ui-selected {
    -webkit-box-shadow: inset 0px 0px 0px 2px #f7f6f6;
    -moz-box-shadow: inset 0px 0px 0px 2px #f7f6f6;
    box-shadow: inset 0px 0px 0px 2px #f7f6f6; }
.isolation button {
  width: 475px;
  height: 55px; }
.isolation .submit-container {
  text-align: center; }
.isolation .divider {
  margin-top: 80px;
  margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
