<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Interruptions | Begin Survey</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://use.typekit.net/zst6xie.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        }
        catch (e) {
        }
    </script>
    <!-- JavaScript
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/skeleton.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

</head>

<body id="begin-page">
<div class="begin">

    <div class="container">
        <p class="int-title">Interruptions</p>

        <p class="welcome-header">Welcome to Interruptions!</p>
        <p class="description">Interruptions is an interactive walkthrough that allows two strangers to create art through conversation. This survey allows us to collect a broad set of data that reflects your individuality.</p>


        <div class="submitnewuser-container">
            <form action="survey.php">
                <button class="beginSurvey-btn" type="submit"><span class="">Begin Survey</span>
                    <!--<span class="icon"><img src="assets/images/next_arrow.png" alt="Next Arrow"></span>-->
                </button>
            </form>
        </div>
    </div>

</div>

</body>

</html>