<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Interruptions</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://use.typekit.net/zst6xie.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        }
        catch (e) {
        }
    </script>
    <!-- JavaScript
       –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/skeleton.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
</head>

<body id="complete-page" class="complete">
<div class="container">
    <h1>Interruptions</h1>

        <img src="assets/images/check.png" alt="checkbox"/>

        <h2>Your submission was successful!</h2>
        <h3>Thank you! Please wait before moving on to the next section or press the button below to start a new session.</h3>


    <div class="newisolation-container">
        <form action="isolation.php">
            <button class="nextUser-btn" type="submit"><span>Next User </span>
                <!--<span class="icon"><img src="assets/images/next_arrow.png" alt="Next Arrow"></span>-->
            </button>
        </form>
        <!--<span><img src="assets/images/next_arrow.png" alt="Next Arrow"></span>-->
    </div>
</div>

</body>

</html>